* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

/* -- BEGIN LANDINGSPAGE -- */

.lp-svg {
  position: absolute;
  z-index: -999;
height: 140vh;
width: 120vw;
top: -100px;
left: -20px;

}
.lp-wrapper {
  height: 110vh;
  width: 100vw;
    position: relative;
  overflow: hidden;

}
.LandingsPage{
  position: relative;
  height: 100vh;
  width: 100vw;
} 
.LandingsPage button{
  font-size: 5em;
  width: 800px;
  height: 300px;
  padding: 50px;
  color: #fff;
  background-color: transparent;
  position: absolute;
  z-index: 111;
  bottom: -100px;
  left: 0px;

}

.lp-intro{
  color: #000;
    z-index: 1111;
  position: absolute;
  top: 150px;
  left: 350px;
} 

.lp-intro h1{
  color: #56065A;
  font-size: 6em;
}

.lp-intro p {
  font-size: 2em;
    color: #56065A;
}
/* -- BEGIN DETAIL PAGINA -- */


body{
    background-color: #56065A;
    height: 100vh;
    margin-top: -80px;
    padding: -220px;
    color: #ffffff;
}

.Detail svg {
  position: absolute;
  z-index: -111;
  bottom: 20px;
  right: -10px;

}

.kingdom p:first-child, .class p:first-child, .order p:first-child, .phylum p:first-child {
  font-weight: 600;
  margin-top: 0;
  font-size: 14px;
}
.kingdom p:nth-child(2), .class p:nth-child(2), .order p:nth-child(2), .phylum p:nth-child(2){
  margin-bottom:  10px;
  margin-top: 0;
    font-size: 14px;

}

.container {
width: 90%;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}



.wrapper-detail {
  min-width: 400px;
  width: 40%;
  height: 100vh;
  background-color: #62397D;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  margin-top: 80px;
}

.photo-block {
  width: 80%;
  display: block;
  margin: 20px auto;
  height: 250px;
  overflow: hidden;
  border-radius: 20px;

  
}
.photo-block img {
  width: 100%;  
  border-radius: 20px;
  margin: 0;

}


.info-block h2 {
    width: 90%;
    padding: 20px;
    text-align: center;
    margin-top: 30px;


}

.info-block p{
  width: 80%;
  line-height: 20px;
  margin-left: 40px;
}

.data {
  margin: 0 auto;
  border-radius: 15px;
  padding: 20px;
  background-color: #56065A;
  width: 80%;
  
}
.data p{
  margin-top: 30px;
}

.location p:first-child, .eventDate p:first-child{
  margin-top: 30px;
  font-weight: 600;
}

.location p:nth-child(2), .eventDate p:nth-child(2){
  margin-top: 2px;
  font-weight: 100;
  flex-wrap: nowrap;

}

.sidebar {
width: 20%;
margin-top: 110px
}

.sidebar div {
      background-color: rgba(255, 255, 255, 0.8);
      width: 220px;
      height: 140px;
      margin-left: 40px;
      border-radius: 20px;
}


.btn-primary{    
  background-color: #6ED57F;
  padding: 13px 35px;
  width: 120px;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.397);

}

.new-question {
  width: 200px;
  height: 60px;
  padding: 5px;
  background-color: #F16323;
  color: #fff;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 600px;
  font-size: 1em;
}
/* --- EINDE DETAIL PAGINA  */

/* BEGIN HOME PAGE */
.Home svg {
  position: absolute;
  z-index: -111;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.wrapper {
      width: 80%;
    height: 60vh;
    display: block;
    padding-top: 50px;
    margin: 130px auto;
    border-radius: 60px;
    max-width: 1000px;
}
.answer-section {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin: 100px auto;

}
.question-section {
  width: 80%;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.question-text {
  font-size: 2em;

}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}
button {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  border: none;
  cursor: pointer;
  
}

.answers-img {
    width: 250px;
    padding: 0;
    margin: 0;
    overflow: hidden;

}
.answers {
text-align: center;
margin-right: 20px;
overflow: hidden;
margin-bottom: 0;



}
.answer-button img {
  width: 300px;
  margin-bottom: 0;

}

.answer-button {
  border: 3px solid #fff;
  overflow: hidden;
}

.answers h3 {
  padding-top: 20px;
}

.correct {
  border: 5px solid #34be34;

  ;
}

.correct-h3, .correct-p {
  color: #34be34;
}

.incorrect {
  border: 3px solid #be3333;
  
}

button:hover {
  opacity: 0.8;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}


.btn-verder {
  width: 10%;
  height: 40px;
  margin: 0 100px;
  border: none;
  background-color: #F16323;
  float: right;
  font-size: 1em;
  color: #fff;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.397);
}